body {
            margin: 0;
            padding: 0;
            height: 100vh;
            background: url("/static/background.jpg") no-repeat center center fixed;
            background-size: cover;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .form-container {
            background: rgba(255, 255, 255, 0.9);
            width: 350px;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
        }

        h2 {
            text-align: center;
            color: darkgreen;
            margin-bottom: 20px;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 12px;
            margin-bottom: 20px;
            border: 1px solid mintcream;
            border-radius: 5px;
            background: mintcream;
            font-size: 16px;
        }

        button {
            width: 100%;
            padding: 12px;
            background-color: darkgreen;
            border: none;
            color: white;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: black;
        }

        p {
            text-align: center;
            margin-top: 15px;
            color: black;
        }

        p a {
            color: darkgreen;
            font-weight: bold;
            text-decoration: none;
        }

        p a:hover {
            text-decoration: underline;
        }

        .topic {
            text-align: center;
            margin: 20px;

        }

        .topic h1 {
            margin-bottom: 10px;
        }

        .topic p {
            font-style: italic;
        
